* {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #ffffff, #fefdfe, #fcfcfc, #fbfafb, #faf8f9, #faf6f8, #f9f4f6, #f9f2f4, #f9eff2, #f9edf1, #f8eaef, #f8e8ee);
}
.generalContainer {
  padding: 100px 100px;
  background-color: rgb(247, 236, 242, 0.4);
}

.navbar a {
  text-decoration: none;
  font-weight: 450;
  background-color: #F7EDF7;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 50px;
  text-align: center;
}

.navbar {
  height: 50px;
  color: #3B2C3A;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pageLinkItem:hover {
  color: #F7B7F2;
}

.pageLinkItem.active {
  font-weight: bold;
  color: #F7B7F2;
}


.pageLinks {
  color: #3B2C3A;
  display: flex;
  align-items: center;
  list-style: none;
}

.name {
  color: #3B2C3A;
  font-size: 20px;
  font-weight: bold;
}

.pageLinkItem {
  font-weight: 500;
  cursor: pointer;
  color: #3B2C3A;
  transition: color 0.2s ease;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #3B2C3A;
}

.topContainer {
  display: grid;
  grid-template-columns: 650px 600px;
  padding: 100px 20px;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 30px 24px;
  flex-direction: column;
  background-color: #fff;
  padding: 30px 150px;
}

.aboutContainer {
  display: flex;
  justify-content: flex-start;
}

.introParagraph {
  width: 400px;
  font-size: 18px;
  padding-top: 20px;
}

.homeTitle {
  font-size: 50px;
  color: #3B2C3A;
  padding-bottom: 30px;
}

.divider {
  display: flex;
  justify-self: center;
  font-size: 20px;
  align-items: center;
  padding: 40px 0px;
}

.gradientSymbols {
  background-image: linear-gradient(to right, #f7b7f2, #efb7f4, #e7b7f5, #dfb7f6, #d7b7f7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dividerLine {
  font-weight: 100;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  background-color: #3B2C3A;
  flex: 1;
}

.pinkGradientText {
  color: #F7B7F2;
}

.technologyIcon {
  width: 100px;
  height: 100px;
  margin-right: 50px;
  margin-bottom: 40px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.technologies {
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contactContainer {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.showProject {
  width: 1000px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
  width: 1000px;
  height: 500px;
  border-radius: 30px;
}

form > * {
  margin-bottom: 20px;
}

form input, textarea {
  width: 300px;
  height: 30px;
  outline-color: #F7B7F2;
  border-color: #F7B7F2;
}

textarea { 
  height: 100px;
}

.submitButton {
  border: solid 2px #F2BED1;
  background-color: #F8E8EE;
  padding: 10px 10px;
  border-radius: 5px;
}

.footer {
  color: #3B2C3A;
  padding-bottom: 50px;
}